.titel_header {
    padding: 1cm;
    text-align: center;
}
fieldset {
    border: 0;
}
label {
    display: block;
    margin: 30px 0 0 0;
}
.overflow {
    height: 200px;
}
h5{
    font-size: 28px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.pagination {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.page-item {
    list-style: none;
    padding: 0 10px;
}

.page-link {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.page-link:hover {
    color: #000;
    background-color: #eee;
}
#editor-container .ql-editor {
    font-size: 16px;
}

#editor-container .ql-editor:focus {
    font-size: 20px;
}

.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.form-control {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form-select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
}

.form-label, .col-form-label,.form-check-label,.input-group-text {
    font-size: 18px;
    color: black;
}
.body-row-col {
    padding: 5px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn-labeled{
    border-radius: 5px;
}
.modal-header, .modal-title{
    background: #f7941e;
    color: #fff;
    font-size: 25px;
}
nav.nav-tabs .nav-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
.nav.nav-tabs .nav-item .nav-link:hover {
    background-color: #0056b3;
    color: #fff;
    border-color: #0056b3;
}
.nav.nav-tabs .nav-item .nav-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}